{% extends 'base.html' %}

{% block title %}Pets{% endblock %}

{% block content %}

  <h1>Pets</h1>
    {% for pet in pets %}
      <img src="{{pet.photo_url}}" width="200" height="100">
      {% if pet.available %}
      <!-- <small>"{{pet.name}} <b>is available!"</b></small> -->
      <small>
        <a href="{{url_for('edit_pet', pet_id=pet.id)}}">{{pet.name}}</a>
        <b>is available!</b>
      </small>
      {% else %}
      <!-- <small>"{{pet.name}} <b>has been adopted!"</b></small> -->
      <small>
        <a href="{{url_for('edit_pet', pet_id=pet.id)}}">{{pet.name}}</a>
        <b>has been adopted!</b>
      </small>
      {% endif %}
    {% endfor %}
    <a href="/add"><button type="button" class="btn btn-primary">Add a Pet</button></a>
    

    

{% endblock %}
